.Container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;    
    background-color: darkblue;
  
}

.Card{
    padding: 60px;
    background-color: lightblue;
    width: 500px;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 50px;
    overflow: hidden;
}

.title{
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue
}

.city-input{
    width: 350px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid darkblue;
    text-align: center;
    background-color: whitesmoke;
    color: darkblue;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.city-input::placeholder{
    color:darkblue;
    font-size: 1.1rem;
    text-align: center;
}

.check-button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid darkblue;
    background-color: whitesmoke;
    color: darkblue;
}

.check-button:hover{
    background-color: lightblue;
    color: black;
}

.weather-temps{
    margin-top: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: darkblue;
}


.Container.rainy{
    background: url('../assets/images/rainy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.Container.sunny{
    background: url('../assets/images/sunny.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.Container.snowy{
    background: url('../assets/images/snowy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.Container.broken{
    background: url('../assets/images/broken.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.Container.overcast{
    background: url('../assets/images/overcast.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.Container.thunder{
    background: url('../assets/images/thudenrstorm1.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.Container.drizzle{
    background: url('../assets/images/drizzle.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Mobile Phones */ 

@media(max-width: 767px)
{

    .Card{
        width: 200px;
        height: 70vh;
        text-align: center;
        border-radius: 20px;
        gap: 15px;
    }

    .title{
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .city-input{
        width: 150px;
        height: 40px;
        border-radius: 10px;
        font-size: 0.7rem;
    }
    
    .city-input::placeholder{
        font-size: 0.7rem;
    }

    .check-button{
        width: 100px;
        font-size: 0.7rem;
        height: 30px;
    }

    
    .weather-temps{
        margin-top: 0;
        font-size: 1rem;
        gap: 5px;
    }

}

/* TABLET */
@media(min-width: 768px) and (max-width: 1023px){

    .Card{
        width: 350px;
        height: 80vh;
        text-align: center;
        border-radius: 20px;
        gap: 15px;
    }

    .title{
        font-size: 1.8rem;
        font-weight: bolder;
    }

    .city-input{
        width: 150px;
        height: 40px;
        border-radius: 10px;
        font-size: 0.7rem;
       
    }
    
    .city-input::placeholder{
        font-size: 0.7rem;
    }

    .check-button{
        width: 100px;
        font-size: 0.7rem;
        height: 30px;
    }

    
    .weather-temps{
        margin-top: 20px;
        font-size: 1.2rem;
        gap: 5px;
    }

}
